
<table border="0" width="435" cellspacing="1" cellpadding="5" bgcolor="C0C0C0" style="height: 100px; border-collapse: separate;">

<tr align="center" bgcolor="EEEEEE">
<td width="14.2%">サイズ(cm)</td>
<td width="14.2%">ウエスト</td>
<td width="14.2%">股下</td>
<td width="14.2%">股上</td>
<td width="14.2%">ワタリ</td>
<td width="14.2%">裾幅</td>
<td width="14.2%">重量(g)</td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= f.text_field :size00, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size01, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size02, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size03, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size04, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size05, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size06, placeholder: "", class: "form-control"  %></td>
</tr>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= f.text_field :size10, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size11, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size12, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size13, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size14, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size15, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size16, placeholder: "", class: "form-control"  %></td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= f.text_field :size20, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size21, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size22, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size23, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size24, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size25, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size26, placeholder: "", class: "form-control"  %></td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= f.text_field :size30, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size31, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size32, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size33, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size34, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size35, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size36, placeholder: "", class: "form-control"  %></td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= f.text_field :size40, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size41, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size42, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size43, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size44, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size45, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size46, placeholder: "", class: "form-control"  %></td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= f.text_field :size50, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size51, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size52, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size53, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size54, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size55, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size56, placeholder: "", class: "form-control"  %></td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= f.text_field :size60, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size61, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size62, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size63, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size64, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size65, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size66, placeholder: "", class: "form-control"  %></td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="70"><%= f.text_field :size70, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size71, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size72, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size73, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size74, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size75, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size76, placeholder: "", class: "form-control"  %></td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="80"><%= f.text_field :size80, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size81, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size82, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size83, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size84, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size85, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size86, placeholder: "", class: "form-control"  %></td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="90"><%= f.text_field :size90, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size91, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size92, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size93, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size94, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size95, placeholder: "", class: "form-control"  %></td>
<td><%= f.text_field :size96, placeholder: "", class: "form-control"  %></td>
</tr>

</table>
<p>サイズは若干前後します。
<a href="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/size_pants.jpg" target="_blank">サイズの測り方</a></p>
