<table border="0" width="100%" cellspacing="1" cellpadding="5" bgcolor="C0C0C0">
<!--サイズ表見項目-->
<tr align="center" bgcolor="EEEEEE">
<td><%= @item.size90  %></td>
<% unless @item.size91.blank? %><td><%= @item.size91  %></td><% end %>
<% unless @item.size92.blank? %><td><%= @item.size92  %></td><% end %>
<% unless @item.size93.blank? %><td><%= @item.size93  %></td><% end %>
<% unless @item.size94.blank? %><td><%= @item.size94  %></td><% end %>
<% unless @item.size95.blank? %><td><%= @item.size95  %></td><% end %>
<% unless @item.size96.blank? %><td><%= @item.size96  %></td><% end %>
</tr>
<!--ここまで-->
<% unless @item.size00.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size00   %></td>
<% unless @item.size01.blank? %><td><%= @item.size01  %></td><% end %>
<% unless @item.size02.blank? %><td><%= @item.size02  %></td><% end %>
<% unless @item.size03.blank? %><td><%= @item.size03  %></td><% end %>
<% unless @item.size04.blank? %><td><%= @item.size04  %></td><% end %>
<% unless @item.size05.blank? %><td><%= @item.size05  %></td><% end %>
<% unless @item.size06.blank? %><td><%= @item.size06  %></td><% end %>
</tr>
<% end %>
<% unless @item.size10.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size10   %></td>
<% unless @item.size11.blank? %><td><%= @item.size11  %></td><% end %>
<% unless @item.size12.blank? %><td><%= @item.size12  %></td><% end %>
<% unless @item.size13.blank? %><td><%= @item.size13  %></td><% end %>
<% unless @item.size14.blank? %><td><%= @item.size14  %></td><% end %>
<% unless @item.size15.blank? %><td><%= @item.size15  %></td><% end %>
<% unless @item.size16.blank? %><td><%= @item.size16  %></td><% end %>
</tr>
<% end %>
<% unless @item.size20.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size20   %></td>
<% unless @item.size21.blank? %><td><%= @item.size21  %></td><% end %>
<% unless @item.size22.blank? %><td><%= @item.size22  %></td><% end %>
<% unless @item.size23.blank? %><td><%= @item.size23  %></td><% end %>
<% unless @item.size24.blank? %><td><%= @item.size24  %></td><% end %>
<% unless @item.size25.blank? %><td><%= @item.size25  %></td><% end %>
<% unless @item.size26.blank? %><td><%= @item.size26  %></td><% end %>
</tr>
<% end %>
<% unless @item.size30.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size30   %></td>
<% unless @item.size31.blank? %><td><%= @item.size31  %></td><% end %>
<% unless @item.size32.blank? %><td><%= @item.size32  %></td><% end %>
<% unless @item.size33.blank? %><td><%= @item.size33  %></td><% end %>
<% unless @item.size34.blank? %><td><%= @item.size34  %></td><% end %>
<% unless @item.size35.blank? %><td><%= @item.size35  %></td><% end %>
<% unless @item.size36.blank? %><td><%= @item.size36  %></td><% end %>
</tr>
<% end %>
<% unless @item.size40.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size40   %></td>
<% unless @item.size41.blank? %><td><%= @item.size41  %></td><% end %>
<% unless @item.size42.blank? %><td><%= @item.size42  %></td><% end %>
<% unless @item.size43.blank? %><td><%= @item.size43  %></td><% end %>
<% unless @item.size44.blank? %><td><%= @item.size44  %></td><% end %>
<% unless @item.size45.blank? %><td><%= @item.size45  %></td><% end %>
<% unless @item.size46.blank? %><td><%= @item.size46  %></td><% end %>
</tr>
<% end %>
<% unless @item.size50.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size50   %></td>
<% unless @item.size51.blank? %><td><%= @item.size51  %></td><% end %>
<% unless @item.size52.blank? %><td><%= @item.size52  %></td><% end %>
<% unless @item.size53.blank? %><td><%= @item.size53  %></td><% end %>
<% unless @item.size54.blank? %><td><%= @item.size54  %></td><% end %>
<% unless @item.size55.blank? %><td><%= @item.size55  %></td><% end %>
<% unless @item.size56.blank? %><td><%= @item.size56  %></td><% end %>
</tr>
<% end %>
<% unless @item.size60.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size60   %></td>
<% unless @item.size61.blank? %><td><%= @item.size61  %></td><% end %>
<% unless @item.size62.blank? %><td><%= @item.size62  %></td><% end %>
<% unless @item.size63.blank? %><td><%= @item.size63  %></td><% end %>
<% unless @item.size64.blank? %><td><%= @item.size64  %></td><% end %>
<% unless @item.size65.blank? %><td><%= @item.size65  %></td><% end %>
<% unless @item.size66.blank? %><td><%= @item.size66  %></td><% end %>
</tr>
<% end %>
<% unless @item.size70.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size70   %></td>
<% unless @item.size71.blank? %><td><%= @item.size71  %></td><% end %>
<% unless @item.size72.blank? %><td><%= @item.size72  %></td><% end %>
<% unless @item.size73.blank? %><td><%= @item.size73  %></td><% end %>
<% unless @item.size74.blank? %><td><%= @item.size74  %></td><% end %>
<% unless @item.size75.blank? %><td><%= @item.size75  %></td><% end %>
<% unless @item.size76.blank? %><td><%= @item.size76  %></td><% end %>
</tr>
<% end %>
<% unless @item.size80.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size80   %></td>
<% unless @item.size81.blank? %><td><%= @item.size81  %></td><% end %>
<% unless @item.size82.blank? %><td><%= @item.size82  %></td><% end %>
<% unless @item.size83.blank? %><td><%= @item.size83  %></td><% end %>
<% unless @item.size84.blank? %><td><%= @item.size84  %></td><% end %>
<% unless @item.size85.blank? %><td><%= @item.size85  %></td><% end %>
<% unless @item.size86.blank? %><td><%= @item.size86  %></td><% end %>
</tr>
<% end %>


</table>
<p>サイズは若干前後します。
<a href="http://shopping.geocities.jp/rodeobros/size-chart-all.html" target="_blank">サイズの測り方</a></p>
