<table border="0" width="100%" cellspacing="1" cellpadding="5" bgcolor="C0C0C0">

<tr align="center" bgcolor="EEEEEE">
<td width="20%">サイズ(cm)</td>
<td width="16%">身幅</td>
<td width="16%">着丈</td>
<td width="16%">ユキ丈</td>
<td width="16%">重量(g)</td>
</tr>

<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size00   %></td>
<td><%= @item.size01  %></td>
<td><%= @item.size02  %></td>
<td><%= @item.size03  %></td>
<td><%= @item.size04  %></td>
<td><%= @item.size05  %></td>
</tr>
<% unless @item.size10.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size10   %></td>
<td><%= @item.size11  %></td>
<td><%= @item.size12  %></td>
<td><%= @item.size13  %></td>
<td><%= @item.size14  %></td>
<td><%= @item.size15  %></td>
</tr>
<% end %>
<% unless @item.size20.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size20   %></td>
<td><%= @item.size21  %></td>
<td><%= @item.size22  %></td>
<td><%= @item.size23  %></td>
<td><%= @item.size24  %></td>
<td><%= @item.size25  %></td>
</tr>
<% end %>
<% unless @item.size30.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size30   %></td>
<td><%= @item.size31  %></td>
<td><%= @item.size32  %></td>
<td><%= @item.size33  %></td>
<td><%= @item.size34  %></td>
<td><%= @item.size35  %></td>
</tr>
<% end %>
<% unless @item.size40.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size40   %></td>
<td><%= @item.size41  %></td>
<td><%= @item.size42  %></td>
<td><%= @item.size43  %></td>
<td><%= @item.size44  %></td>
<td><%= @item.size45  %></td>
</tr>
<% end %>
<% unless @item.size50.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size50   %></td>
<td><%= @item.size51  %></td>
<td><%= @item.size52  %></td>
<td><%= @item.size53  %></td>
<td><%= @item.size54  %></td>
<td><%= @item.size55  %></td>
</tr>
<% end %>
<% unless @item.size60.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size60   %></td>
<td><%= @item.size61  %></td>
<td><%= @item.size62  %></td>
<td><%= @item.size63  %></td>
<td><%= @item.size64  %></td>
<td><%= @item.size65  %></td>
</tr>
<% end %>
<% unless @item.size70.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size70   %></td>
<td><%= @item.size71  %></td>
<td><%= @item.size72  %></td>
<td><%= @item.size73  %></td>
<td><%= @item.size74  %></td>
<td><%= @item.size75  %></td>
</tr>
<% end %>
<% unless @item.size80.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size80   %></td>
<td><%= @item.size81  %></td>
<td><%= @item.size82  %></td>
<td><%= @item.size83  %></td>
<td><%= @item.size84  %></td>
<td><%= @item.size85  %></td>
</tr>
<% end %>
<% unless @item.size90.blank? %>
<tr align="center" bgcolor="FFFFFF">
<td bgcolor="EEEEEE" width="60"><%= @item.size90   %></td>
<td><%= @item.size91  %></td>
<td><%= @item.size92  %></td>
<td><%= @item.size93  %></td>
<td><%= @item.size94  %></td>
<td><%= @item.size95  %></td>
</tr>
<% end %>

</table>
<p>サイズは若干前後します。
<a href="http://shopping.geocities.jp/rodeobros/size-chart-all.html" target="_blank">サイズの測り方</a></p>