<h1>楽天モバイル用</h1>

<center>
<p>次の商品のリンクだけ手動で変更してください。(現在非表示)</p>
<!--<p><pict c="23" /><a href="http://m.rakuten.co.jp/auc-rodeo/n/sc41470/">次の商品→</a></p>-->
<textarea rows="40" cols="100">
送料無料 ＋ 土日祝日も営業<br><br>
15:00 までのご注文は 即日配送<br><br>
<%= @item.itemName %><br><br>
<%= render 'items/brand-concept/brandconceptRakutenMobile',  var:params[:brand_id] %>
<% unless @item.itemDetail.blank? %>■DETAIL<br><%= @item.itemDetail %><br><br><% end %>
<% unless @item.material.blank? %>■素材<br><%= @item.material %><br><br><% end %>
<% unless @item.madein.blank? %>■生産<br><%= @item.madein %><br><br><% end %>
<% unless @item.process.blank? %>■加工<br><%= @item.process %><br><br><% end %>
【サイズ】<br>
<%= render 'items/categoryout/sizechartoutMobile', var:params[:category] %>
<% unless @item.size00.blank? %><%= @item.size00 %>：<% end %><% unless @item.size01.blank? %><%= @item.size01 %><% end %><% unless @item.size02.blank? %>/<%= @item.size02 %><% end %><% unless @item.size03.blank? %>/<%= @item.size03 %><% end %><% unless @item.size04.blank? %>/<%= @item.size04 %><% end %><% unless @item.size05.blank? %>/<%= @item.size05 %><% end %><% unless @item.size06.blank? %>/<%= @item.size06 %><% end %><% unless @item.size07.blank? %>/<%= @item.size07 %><% end %><% unless @item.size00.blank? %><br><% end %>
<% unless @item.size10.blank? %><%= @item.size10 %>：<% end %><% unless @item.size11.blank? %><%= @item.size11 %><% end %><% unless @item.size12.blank? %>/<%= @item.size12 %><% end %><% unless @item.size13.blank? %>/<%= @item.size13 %><% end %><% unless @item.size14.blank? %>/<%= @item.size14 %><% end %><% unless @item.size15.blank? %>/<%= @item.size15 %><% end %><% unless @item.size16.blank? %>/<%= @item.size16 %><% end %><% unless @item.size17.blank? %>/<%= @item.size17 %><% end %><% unless @item.size10.blank? %><br><% end %>
<% unless @item.size20.blank? %><%= @item.size20 %>：<% end %><% unless @item.size21.blank? %><%= @item.size21 %><% end %><% unless @item.size22.blank? %>/<%= @item.size22 %><% end %><% unless @item.size23.blank? %>/<%= @item.size23 %><% end %><% unless @item.size24.blank? %>/<%= @item.size24 %><% end %><% unless @item.size25.blank? %>/<%= @item.size25 %><% end %><% unless @item.size26.blank? %>/<%= @item.size26 %><% end %><% unless @item.size27.blank? %>/<%= @item.size27 %><% end %><% unless @item.size20.blank? %><br><% end %>
<% unless @item.size30.blank? %><%= @item.size30 %>：<% end %><% unless @item.size31.blank? %><%= @item.size31 %><% end %><% unless @item.size32.blank? %>/<%= @item.size32 %><% end %><% unless @item.size33.blank? %>/<%= @item.size33 %><% end %><% unless @item.size34.blank? %>/<%= @item.size34 %><% end %><% unless @item.size35.blank? %>/<%= @item.size35 %><% end %><% unless @item.size36.blank? %>/<%= @item.size36 %><% end %><% unless @item.size37.blank? %>/<%= @item.size37 %><% end %><% unless @item.size30.blank? %><br><% end %>
<% unless @item.size40.blank? %><%= @item.size40 %>：<% end %><% unless @item.size41.blank? %><%= @item.size41 %><% end %><% unless @item.size42.blank? %>/<%= @item.size42 %><% end %><% unless @item.size43.blank? %>/<%= @item.size43 %><% end %><% unless @item.size44.blank? %>/<%= @item.size44 %><% end %><% unless @item.size45.blank? %>/<%= @item.size45 %><% end %><% unless @item.size46.blank? %>/<%= @item.size46 %><% end %><% unless @item.size47.blank? %>/<%= @item.size47 %><% end %><% unless @item.size40.blank? %><br><% end %>
<% unless @item.size50.blank? %><%= @item.size50 %>：<% end %><% unless @item.size51.blank? %><%= @item.size51 %><% end %><% unless @item.size52.blank? %>/<%= @item.size52 %><% end %><% unless @item.size53.blank? %>/<%= @item.size53 %><% end %><% unless @item.size54.blank? %>/<%= @item.size54 %><% end %><% unless @item.size55.blank? %>/<%= @item.size55 %><% end %><% unless @item.size56.blank? %>/<%= @item.size56 %><% end %><% unless @item.size57.blank? %>/<%= @item.size57 %><% end %><% unless @item.size50.blank? %><br><% end %>
<% unless @item.size60.blank? %><%= @item.size60 %>：<% end %><% unless @item.size61.blank? %><%= @item.size61 %><% end %><% unless @item.size62.blank? %>/<%= @item.size62 %><% end %><% unless @item.size63.blank? %>/<%= @item.size63 %><% end %><% unless @item.size64.blank? %>/<%= @item.size64 %><% end %><% unless @item.size65.blank? %>/<%= @item.size65 %><% end %><% unless @item.size66.blank? %>/<%= @item.size66 %><% end %><% unless @item.size67.blank? %>/<%= @item.size67 %><% end %><% unless @item.size60.blank? %><br><% end %>
<% unless @item.size70.blank? %><%= @item.size70 %>：<% end %><% unless @item.size71.blank? %><%= @item.size71 %><% end %><% unless @item.size72.blank? %>/<%= @item.size72 %><% end %><% unless @item.size73.blank? %>/<%= @item.size73 %><% end %><% unless @item.size74.blank? %>/<%= @item.size74 %><% end %><% unless @item.size75.blank? %>/<%= @item.size75 %><% end %><% unless @item.size76.blank? %>/<%= @item.size76 %><% end %><% unless @item.size77.blank? %>/<%= @item.size77 %><% end %><% unless @item.size70.blank? %><br><% end %>
<% unless @item.size80.blank? %><%= @item.size80 %>：<% end %><% unless @item.size81.blank? %><%= @item.size81 %><% end %><% unless @item.size82.blank? %>/<%= @item.size82 %><% end %><% unless @item.size83.blank? %>/<%= @item.size83 %><% end %><% unless @item.size84.blank? %>/<%= @item.size84 %><% end %><% unless @item.size85.blank? %>/<%= @item.size85 %><% end %><% unless @item.size86.blank? %>/<%= @item.size86 %><% end %><% unless @item.size87.blank? %>/<%= @item.size87 %><% end %><% unless @item.size80.blank? %><br><% end %>
<% unless @item.size90.blank? %><%= @item.size90 %>：<% end %><% unless @item.size91.blank? %><%= @item.size91 %><% end %><% unless @item.size92.blank? %>/<%= @item.size92 %><% end %><% unless @item.size93.blank? %>/<%= @item.size93 %><% end %><% unless @item.size94.blank? %>/<%= @item.size94 %><% end %><% unless @item.size95.blank? %>/<%= @item.size95 %><% end %><% unless @item.size96.blank? %>/<%= @item.size96 %><% end %><% unless @item.size97.blank? %>/<%= @item.size97 %><% end %><% unless @item.size90.blank? %><br><% end %>
サイズは若干前後します。


</textarea>
</center>








