<h1>楽天モバイル用</h1>

<%= @item.itemNumber %>
<%= @item.itemName %>
<%= @item.itemDescription %>
<%= @item.itemDetail %>
<%= @item.modelSizeA %>
<%= @item.totalItemsNameA %><%= @item.totalItemsURLA %>
<%= @item.modelSizeB %>
<%= @item.totalItemsNameB %>
<%= @item.totalItemsURLB %>
<%= @item.totalItemsNameC %>
<%= @item.totalItemsURLC %>


<%= @item.size00 %>
<%= @item.size01 %>
<%= @item.size02 %>
<%= @item.size03 %>
<%= @item.size04 %>
<%= @item.size05 %>
<%= @item.size06 %>
<%= @item.size07 %>

<%= @item.size10 %>
<%= @item.size11 %>
<%= @item.size12 %>
<%= @item.size13 %>
<%= @item.size14 %>
<%= @item.size15 %>
<%= @item.size16 %>
<%= @item.size17 %>

<%= @item.material %>

<%= @item.madein %>

<%= @item.process %>